@keyframes play {
  30% {
    transform: translate(10vw, 10vh);
  }
  60% {
    transform: translate(40vw, 40vh);
  }
   100% { background-position: 2000px;
 }
}
.zombie {
  width: 200px;
  height: 312px;
  background-image: url('http://www.wdrfree.com/public/demos/animatespritekeyframes/walkingdead.png');
  animation: play 2s steps(10) infinite;
  transform: translate(50vw, 50vh);
}
